<% content_for :title do %>
Home
<% end %>
<div id="container">
		<div id="container2">	
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					<li data-target="#carousel-example-generic" data-slide-to="3"></li>
					<li data-target="#carousel-example-generic" data-slide-to="4"></li>
				</ol>

		  <!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<%= image_tag("1.jpg" , :class => "img-responsive imager") %>					
						<div class="carousel-caption">
							<p>Ganga on Diwali Night</p>		<!-- name will be shown on the image-->
						</div>
					</div>

					<div class="item">
						<%= image_tag("1.jpg" , :class => "img-responsive imager") %>		<!--change it tot he image name -->		
						<div class="carousel-caption">
							<p>....</p>		<!-- name will be shown on the image-->
						</div>
					</div>
			
					<div class="item">
						<%= image_tag("1.jpg" , :class => "img-responsive imager") %>		<!--change it tot he image name -->	
						<div class="carousel-caption">
							<p>.....</p>		<!-- name will be shown on the image-->
						</div>
					</div>

					<div class="item">
						<%= image_tag("1.jpg" , :class => "img-responsive imager") %>		<!--change it tot he image name -->	
						<div class="carousel-caption">
							<p>.....</p>		<!-- name will be shown on the image-->
						</div>
					</div>

					<div class="item">
						<%= image_tag("1.jpg" , :class => "img-responsive imager") %>		<!--change it tot he image name -->	
						<div class="carousel-caption">
							<p>.....</p>		<!-- name will be shown on the image-->
						</div>
					</div>
				</div>

		  <!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="panel panel-default">
		<div id="container3" class="panel-head">
			<center id="text"><strong><h1><u>Gangsters Will Rule Forever</h1></u></strong></center>
			
		</div>
		<br>
		<div id="container4" class="panel-body">
		<p><h4><b>Our hostel named after the greatest river of India, The GANGA. This hostel is  &ensp; located &ensp;at the north western section of our wooded campus. As one of the oldest hostels in IIT Madras, builtin 1965, Ganga Hostel traces  its rich history through  the decades right up to the time the great technological institutional landmarks were established. 
		<br><br>
		After the addition of extention wings in 2012, Ganga has now more the 300+ rooms and is in the process of refurlucation of its interiors. Though retaining  &ensp; its old looks with  &ensp; sky blue painted walls which are flaking, Ganga hostel has kept up with modern plumbing, electrical circuiting and other equipments.
		<br><br>
		The hostel's  &ensp; accomplishments  &ensp; throughout  &ensp; many years are  &ensp; testimony to the legacy it bears. The  most extraordinary  &ensp; achievement is &ensp; 'The SCHOETER CUP' which was awarded for streak  &ensp; of schoeter wins for consequent five years. Individual schoeter wins are scattered across decades of the institute existence. 
		<br><br>
		Ganga hostel as a quadrangle structure houses a garden, a mini all purpose playground, a Volleyball ground, a Badminton court  &ensp; besides many other amenities. Cultural and Social events on the calender are celebrated with much enthusiasm.
		<br><br>
		Efforts by the management and students to maintain the garden and updating the library are underway. Many students have a fierce &ensp;  pride in the wilderness the garden has turned out into.  &ensp; Dead leaves strewn over the grounds, the troops of monkeys screeching at one another, cats pading silently on the hostel corridor; everything here reminds us about each passing day of our hostel life.
		<br>
		<br>
		In an atmosphere of constant excitement, students are inspired and exhibit creativity in all activities.Our most notable alumnis include... 
 


			</b></h4></p>


		
		
		
		</div>
	</div>
	</div>