<div class="sidebar">
  <button><%= link_to "New discussion", new_post_path %></button>
  <br>
    <%= form_tag search_path, method: 'get' do%>
  <%= text_field_tag :search, params[:search], placeholder:"Search", class:"form-control search_box" %>
   <div class="search_dropdown">Advanced Search <br>
          <label><%= check_box_tag 'title',  true, class: 'check_box' %> Title</label>
          <label><%= check_box_tag 'contents', true, class: 'check_box' %> Content</label>
          <label><%= check_box_tag 'comments', true, class: 'check_box' %> Comments</label>
  <%= submit_tag "Search", class:"btn btn-xs btn-primary" %>
  </div>
<% end %>
  <br>
  Categories:<br>
  <%= link_to "All Categories<span class='badge pull-right'>#{Post.all.length}</span>".html_safe, root_path, class:"sidebar_link" %>
    <% for tag in Tag.all %>
    <li>
    <%= link_to "#{tag.name.capitalize} <span class='badge pull-right'>#{Tag.includes(:posts).find(tag.id).posts.where("solved=?",false).length}</span>".html_safe, tag, class:"sidebar_link" %>
    </li>
  <% end %>
</div>
